In [253]:
#Importing the important Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('ggplot')
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [254]:
df_train=pd.read_excel("Restro Data_Train.xlsx")
df_test=pd.read_excel("Restro Data_Test.xlsx")

In [255]:
df_train.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [256]:
# Check shape of dataset

df_train.shape, df_test.shape

((12690, 9), (4231, 8))

## Train Data

In [257]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          12690 non-null  object
 1   RESTAURANT_ID  12690 non-null  int64
 2   CUISINES       12690 non-null  object
 3   TIME           12690 non-null  object
 4   CITY           12578 non-null  object
 5   LOCALITY       12592 non-null  object
 6   RATING         12688 non-null  object
 7   VOTES          11486 non-null  object
 8   COST           12690 non-null  int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB

In [258]:
# Check train column types

col = df_train.dtypes.reset_index()
col.columns = ["Count", "Column Type"]
col.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64      2
1      object      7

In [259]:
#Checking for NULL values
df_train.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [260]:
#Let's check the percentage of NULL Values
round(df_train.isnull().sum()/len(df_train)*100,2)

TITLE            0.00
RESTAURANT_ID    0.00
CUISINES         0.00
TIME             0.00
CITY             0.88
LOCALITY         0.77
RATING           0.02
VOTES            9.49
COST             0.00
dtype: float64

In [261]:
#Creating a dummy dataframe
dummy = [df_train[['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY','RATING', 'VOTES']], df_test]

dummy = pd.concat(dummy)

In [262]:
#Title column has no missing values
#let's analyse how many unique titles we have with us


titles = list(dummy['TITLE']) #Storing all the titles in a list

# Finding Max number of titles mentioned in a single cell
mx = 1
for i in titles :
    if len(i.split(',')) > mx:
         mx = len(i.split(','))
         
print("\n\nMax Titles in a Cell : ", mx)    

all_titles = []

for i in titles :
    if len(i.split(',')) == 1:
         all_titles.append(i.split(',')[0].strip().upper())
    else :
        for it in range(len(i.split(','))):
            all_titles.append(i.split(',')[it].strip().upper())

print("\n\nNumber of Unique Titles : ", len(pd.Series(all_titles).unique()))
print("\n\nUnique Titles:\n", pd.Series(all_titles).unique())

all_titles = list(pd.Series(all_titles).unique())

Max Titles in a Cell :  2


Number of Unique Titles :  25


Unique Titles:
 ['CASUAL DINING' 'BAR' 'QUICK BITES' 'DESSERT PARLOR' 'CAFÉ'
 'MICROBREWERY' 'BEVERAGE SHOP' 'IRANI CAFE' 'BAKERY' 'NONE' 'PUB'
 'FINE DINING' 'SWEET SHOP' 'LOUNGE' 'FOOD COURT' 'FOOD TRUCK' 'MESS'
 'KIOSK' 'CLUB' 'CONFECTIONERY' 'DHABA' 'MEAT SHOP' 'COCKTAIL BAR'
 'PAAN SHOP' 'BHOJANALYA']

In [263]:
titles = list(df_train['TITLE'])

# Since Maximum number of titles in a cell is 2 will will split title in to 2 columns
T1 = []
T2 = []

for i in titles:
    T1.append(i.split(',')[0].strip().upper())
    try :
         T2.append(i.split(',')[1].strip().upper())
    except :
         T2.append('NONE')

# appending NONE to Unique titles list
all_titles.append('NONE')

In [264]:
#We do not have any missing values in cuisines either
cuisines = list(dummy['CUISINES'])

mx = 1
for i in cuisines :
    if len(i.split(',')) > mx:
         mx = len(i.split(','))
         
print("\n\nMax cuisines in a Cell : ", mx)    

all_cuisines = []

for i in cuisines :
    if len(i.split(',')) == 1:
         #print(i.split(',')[0])
         all_cuisines.append(i.split(',')[0].strip().upper())
    else :
        for it in range(len(i.split(','))):
            #print(i.split(',')[it])
            all_cuisines.append(i.split(',')[it].strip().upper())

print("\n\nNumber of Unique Cuisines : ", len(pd.Series(all_cuisines).unique()))
print("\n\nUnique Cuisines:\n", pd.Series(all_cuisines).unique())

all_cuisines = list(pd.Series(all_cuisines).unique())

Max cuisines in a Cell :  8


Number of Unique Cuisines :  130


Unique Cuisines:
 ['MALWANI' 'GOAN' 'NORTH INDIAN' 'ASIAN' 'MODERN INDIAN' 'JAPANESE'
 'CHINESE' 'BIRYANI' 'HYDERABADI' 'TIBETAN' 'DESSERTS' 'SEAFOOD' 'CAFE'
 'PIZZA' 'BURGER' 'BAR FOOD' 'SOUTH INDIAN' 'FAST FOOD' 'BEVERAGES'
 'ARABIAN' 'MUGHLAI' 'MAHARASHTRIAN' 'PARSI' 'THAI' 'BAKERY' 'MOMOS'
 'CONTINENTAL' 'EUROPEAN' 'ROLLS' 'ANDHRA' 'ITALIAN' 'BBQ' 'FINGER FOOD'
 'TEA' 'AMERICAN' 'HEALTHY FOOD' 'COFFEE' 'INDONESIAN' 'KOREAN' 'NEPALESE'
 'ICE CREAM' 'MEXICAN' 'KERALA' 'INDIAN' 'MITHAI' 'STREET FOOD'
 'MALAYSIAN' 'VIETNAMESE' 'IRANIAN' 'KEBAB' 'JUICES' 'SANDWICH'
 'MEDITERRANEAN' 'SALAD' 'GUJARATI' 'RAJASTHANI' 'TEX-MEX' 'ROAST CHICKEN'
 'BURMESE' 'CHETTINAD' 'NORTH EASTERN' 'LEBANESE' 'COFFEE AND TEA' 'GRILL'
 '' 'BIHARI' 'BENGALI' 'LUCKNOWI' 'AWADHI' 'STEAK' 'FRENCH' 'PORTUGUESE'
 'WRAPS' 'SRI LANKAN' 'ORIYA' 'ETHIOPIAN' 'KONKAN' 'SUSHI' 'SPANISH'
 'RUSSIAN' 'MANGALOREAN' 'TURKISH' 'BUBBLE TEA' 'AFGHAN' 'NAGA'
 'SINGAPOREAN' 'GERMAN' 'MIDDLE EASTERN' 'SINDHI' 'CANTONESE' 'HOT POT'
 'PAN ASIAN' 'SATAY' 'DUMPLINGS' 'KASHMIRI' 'RAW MEATS' 'DRINKS ONLY'
 'MOROCCAN' 'PANINI' 'CAFE FOOD' 'CHARCOAL CHICKEN' 'BELGIAN' 'MONGOLIAN'
 'TAMIL' 'AFRICAN' 'PAAN' 'ASSAMESE' 'HOT DOGS' 'POKÉ' 'BRITISH' 'BOHRI'
 'FUSION' 'ARMENIAN' 'SOUTH AMERICAN' 'GREEK' 'PAKISTANI' 'PERUVIAN'
 'CUISINE VARIES' 'IRISH' 'MULTI CUISINE' 'JEWISH' 'VEGAN' 'ORIENTAL'
 'MODERN AUSTRALIAN' 'EGYPTIAN' 'FISH AND CHIPS' 'BRAZILIAN' 'MISHTI'
 'FALAFEL' 'HAWAIIAN']

In [265]:
cuisines = list(df_train['CUISINES'])
   
# Since Maximum number of cuisines in a cell is 8 will will split title in to 8 columns
   
C1 = []
C2 = []
C3 = []
C4 = []
C5 = []
C6 = []
C7 = []
C8 = []


for i in cuisines:
        try :
            C1.append(i.split(',')[0].strip().upper())
        except :
            C1.append('NONE')
        try :
            C2.append(i.split(',')[1].strip().upper())
        except :
            C2.append('NONE')
        try :
            C3.append(i.split(',')[2].strip().upper())
        except :
            C3.append('NONE')
        try :
            C4.append(i.split(',')[3].strip().upper())
        except :
            C4.append('NONE')
        try :
            C5.append(i.split(',')[4].strip().upper())
        except :
            C5.append('NONE')
        try :
            C6.append(i.split(',')[5].strip().upper())
        except :
            C6.append('NONE')
        try :
            C7.append(i.split(',')[6].strip().upper())
        except :
            C7.append('NONE')
        try :
            C8.append(i.split(',')[7].strip().upper())
        except :
            C8.append('NONE')

# appending NONE to Unique cuisines list
all_cuisines.append('NONE')

In [266]:
#Now, we have noticed that a few cities have pin codes in them. let us detect those values and fill them with NA
all_cities = list(dummy['CITY'])

for i in range(len(all_cities)):
    if type(all_cities[i]) == float:
        all_cities[i] = 'NOT AVAILABLE'
    all_cities[i] = all_cities[i].strip().upper()
        
print("\n\nNumber of Unique cities (Including NOT AVAILABLE): ", len(pd.Series(all_cities).unique()))
print("\n\nUnique Cities:\n", pd.Series(all_cities).unique())
 
all_cities = list(pd.Series(all_cities).unique())

Number of Unique cities (Including NOT AVAILABLE):  445


Unique Cities:
 ['THANE' 'CHENNAI' 'MUMBAI' 'BANGALORE' 'GURGAON' 'HYDERABAD' 'KOCHI'
 'THANE WEST' 'ANDHERI LOKHANDWALA' 'NEW DELHI' 'ANDHERI WEST'
 'MALAD EAST' '682036' 'BANGALOR' 'NAVI MUMBAI' 'BANDRA WEST' 'DELHI'
 'NOIDA' 'BANGALORE-560066' 'SECUNDERABAD' 'NOT AVAILABLE' 'INDIA'
 'MADHURANAGAR' 'CHENNAI TEYNAMPET' 'FARIDABAD' 'CHEMBUR.' 'MAHARASHTRA'
 'OPP GURUDWARA SHAKURPUR' 'TELAGANA LAND LINE:040-48507016' 'GHAZIABAD'
 'KARNATAKA' 'KERALA' 'EDAPPALLY' 'KADAVANTHRA' 'ERNAKULAM CIRCLE KOCHI'
 'BENGALORE' 'NEAR RELIANCE FRESH' 'KILPAUK' 'BENGALURU' 'KOTHAGUDA'
 'GOREGAON WEST' 'BANGLORE' 'TAMIL NADU' 'KAKKANAD' 'KOCHI ELAMKULAM'
 'OUTER RING ROAD' 'MULUND EAST'
 'SECUNDERABAD MAIN ROAD NEAR SIGNAL NMREC COLLEGE' 'TELANGANA'
 'PONNURUNI KOCHI' 'GACHIBOWLI' 'SEMMANCHERI'
 '5TH MAIN TEACHERS COLONY KORAMANGALA BLOCK 1 BANGALORE 560034'
 'MUMBAI MAHIM' 'POWAI (NEXT TO POWAI PLAZA)' 'DOMBIVALI EAST'
 'KOCHI VYTTILA' 'KANDIVALI' 'KOCHI PALARIVATTOM' 'DEWAN RAMA ROAD'
 'GURUGRAM' 'SECTOR 51 NOIDA' 'KALOOR' 'BESANT NAGAR'
 'ARUMBAKKAM CHENNAI-600106.' 'ADJACENT TO COMMERCIAL STREET' 'DELHI NCR'
 'DWARKA' '682035.' 'KALYAN WEST' 'AVADI' 'KONDAPUR' 'MEHDIPATNAM'
 'GANDIPET' 'VELACHERY' 'PALLAVARAM' 'VIJAYA NAGAR' 'BTM LAYOUT'
 'CHENNAI 600034.'
 'METRO PILLAR NO 21. METTUGUDA MAIN ROAD NEAR RAILWAY DEGREE COLLEGE.'
 'CHENNAI - 600040' 'JP NAGAR BANGALORE' 'MADHAPUR' 'ERNAKULAM' 'SARJAPUR'
 'WHITEFIELD BANGALORE' 'KOCHI CHULLICKAL' 'KOCHI-683101'
 'BANGALORE - 560076' 'ROHINI' 'HYDERABAD BEHIND VACS PASTRIES'
 'HYDERABAD NEERUS EMPORIUM.' 'NAVI MUMBAI.' 'KAROL BAGH' 'PERUNGUDI'
 'THYKOODAM' 'GREATER NOIDA' 'BANGALORE.' 'KHAIRATABAD' 'CHULLICKAL'
 'GRANT ROAD WEST' 'HITECH CITY' 'WEST MAREDPALLY' 'MUMBAI - 400007'
 'CHENNAI PADUR' 'CHANDER NAGAR NEW DELHI' 'NEDUMBASSERY' 'MG ROAD'
 'NAYA NAGAR MIRA ROAD' 'PITAMPURA' 'LOWER PAREL' 'HBR LAYOUT'
 'TELANGANA 500003' 'RAJIV GANDHI NAGAR' 'NEW DELHI.' 'MEDAVAKKAM'
 'SATHYA NAGAR' 'P.O KOCHI' 'BEHIND RAMALAYAM TEMPLE' 'PALARIVATTOM'
 'BRIGADE ROAD' 'MUMBAI.' 'MUMBAI ANDHERI EAST' 'VIRAR WEST' 'B-1 STAGE'
 'CHENNAI KOVALAM' 'HYDERABAD.' 'ALUVA' 'TELANGANA 500034'
 'IOB BANK KAMALA NAGAR' 'HSR LAYOUT' 'MARINE DRIVE' 'DLF GALLERIA'
 'NALLATHAMBI MAIN ROAD' 'CHENNAI OPP: VASANTH & CO' 'CITYPARK'
 'KARNATAKA 560103' 'BHAYANDAR' 'ALUVA CIRCLE' 'THAMMENAHALLI VILLAGE'
 'SG PALYA' 'ATTAPUR.' 'NEAR SHANGRILLA BUS STOP' 'KHAR (WEST)' 'ROAD 3'
 'KUKATPALLY' 'FARIDABD' 'TELANGANA 500032' 'DILSUKHNAGAR'
 'MOGAPPAIR. CHENNAI' 'NEAR MUNRSHWARA TEMPLE' 'OFF BRIGADE ROAD'
 'KHAR WEST' 'POTHERI' 'CHENNAI PERUNGUDI' 'CHENNAI THURAIPAKKAM'
 'OMR KARAPAKKAM' 'HYDERABAD-500032' 'MUMBAI DOMBIVALI EAST'
 'CHENNAI THOUSAND LIGHTS' 'MAHIM' 'LINGAMPALLY' 'POWAI'
 'NEW DELHI-110024' 'CHENNAI- 600107' 'KERALA 683104' 'VASAI WEST.'
 'THANE (W)' 'NEAR SANTOSH BANJARA HYDERABAD'
 'BANASWADI (NEXT TO INDIAN BANK) BANGALORE' 'BTM BANGALORE'
 'GREATER KAILASH 2 NEW DELHI' 'SECUNDERABAD ECIL'
 'BANGALORE KORAMANGALA 7TH BLOCK' 'BANGALORE : 560085'
 'GACHIBOWLI HYDERABAD'
 'CPR LAYOUT HARLUR MAIN ROAD OPPOSITE TO OZONE EVER GREEN APARTMENT BANGALORE -'
 'ECR NEELANKARAI CHENNAI 600115' 'WARD X11' 'PERUMBAVOOR'
 'MIRA RAOD EAST' 'KERALA 682013' 'CHENNAI.' 'POKHRAN ROAD 2'
 'UTTAR PRADESH' 'KARNATAKA 560102' 'MUMBAI - 400013' 'NAHARPAR'
 'HOSUR ROAD' 'NEAR BHARAT PETROLEUM.'
 'CHENNAI (BANG OPPOSITE INDIAN BANK)' 'SRIRAM NAGAR' 'WEST MUMBAI'
 'VYTTILA' 'BANJARA HILLS' 'MALAPALLIPURAM P .O THRISSUR'
 'ANDHERI WEST MUMBAI' 'KARNATAKA 560043' 'PANAMPILLY NAGAR'
 'BORIVALI EAST.' 'ECIL' 'JUBILEE HILLS'
 'AMRIT KAUR MARKET OPPOSITE NEW DELHI RAILWAY STATION PAHARGANJ'
 'CHENNAI OPPOSITE 5C BUS STAND' 'TELENGANA' 'KOCHI RAVIPURAM' 'RAJANPADA'
 'MAHABALIPURAM' 'SECUNDERABAD. WE HAVE NO BRANCHES.' 'TELANGANA 500081'
 'GURGOAN' 'ELAMAKKARA' 'SECTOR 1' 'BANDRA W' 'KOLATHUR'
 'CHENNAI MAHABALIPURAM' '3RD STREET' 'MUMBAI CHAKALA' 'BORIVALI WEST'
 'RODEO DRIVE SECTOR 49' 'PALLIMUKKU' 'DELHI 110085' 'SECTOR 51'
 'CHAMPAPET' 'ANDAVAR NAGAR' 'BANGALORE - 560103' 'KERALA 690525'
 'OPP MUKTESHWAR ASHRAM POWAI' 'NUNGAMBAKKAM' 'BK GUDA'
 'JOGESHWARI (W) MUMBAI' 'KUKATAPALLY' 'NEAR SECTOR 110 NOIDA' 'NAVALLUR'
 'BESIDE EXCELLENCY GARDENS' 'MUMBAI - 80' 'BEGUMPET'
 'MAHARAJA HOTEL BESIDE GARDANIA BAR' 'ASHOK VIHAR PHASE 1' 'TRIVANDRUM'
 'KOCHI-18' 'NARAYANGUDA' 'THEVERA' 'CHENNAI-40' 'PALM BEACH ROAD'
 'EAST COAST ROAD (ECR)' 'RAMAPURAM' 'CHENNAI CHROMPET' 'NANDANAM' 'SAKET'
 'MG ROAD ERNAKULAM' 'ANDHERI LOKHANDWALA.' 'INDIRANAGAR' 'THIRUVANMIYUR'
 'AMBATTUR' 'BANGLAORE' 'CHENNAI - 34 LANDMARK - NEAR LOYOLA COLLEGE'
 'ANNA NAGAR WEST' 'OLD RAILWAY ROAD' 'EAST MUMBAI'
 'KANAKAPURA ROAD BANGLORE' 'KOCHI KAKKANAD' 'KALYAN'
 'NEAR RAMLILA GROUND' 'SERILINGAMPALLY' 'HIMAYATH NAGAR' 'NALLALA STREET'
 'ANNA SALAI' 'OLD DELHI' 'WAGLE ESTATE' '1ST STAGE' 'KOCHI-16'
 'KOCHI INTERNATIONAL AIRPORT VIP ROAD' 'FIRST STREET' 'CHENN AI'
 '6 & 7 - 4/64 SUBHASH NAGAR' '1ST TAVAREKERE' 'PERAMBUR'
 'VAISHALI GHAZIABAD' 'THANISANDRA' 'BLOCK F' 'SECTOR 7 DWARKA'
 'OPPOSITE BARATHI GAS COMPANY' 'VADAPALANI' 'KONDAPUR.' 'BADLAPUR WEST.'
 'KALAMASSERY' 'PALAVAKKAM' 'TCS SYNERGY PARK' 'BTM 1ST STAGE'
 'MAHADEVPURA' 'NEW BEL ROAD 560054'
 'VELIAVEETIL HOUSE VIVEKANANDA NAGAR ELAMAKKARA' 'SHOLINGANALLUR'
 'MAHARASHTRA 400102' 'LOWER PAREL WEST' 'TRIPUNITHURA' 'MOGAPPAIR'
 'TELANGANA 500070' 'JP NAGAR' 'NAVI-MUMBAI' 'ASHOK NAGAR' 'MARATHAHALLI'
 'HARIDWAR APARTMENTS' 'KERALA 682001 INDIA' 'KARNATAKA 560037'
 'KERALA 683585' 'CHENNAI. (NEAR HOTEL MATSHYA)' 'INDIRAPURAM'
 'BEGUMPET HYDERABAD' 'MANIKONDA'
 'BANGALORE LAND MARK ABOVE MAHAVEER HARD WARE' 'KERALA 682304'
 'RAJARAJESHWARI NAGAR BANGALORE' 'GST ROAD' 'FORT KOCHI'
 'LAHARI APARTMENTS' 'RAMANTHAPUR' 'MULUND WEST' 'GURGAON HARYANA INDIA'
 'NEW DELHI..NEAR BY SBI BANK' 'KOCHI ALUVA 102' 'PHASE 1 BANGALORE'
 'HYDERABAD MANIKONDA'
 'MUMBAI THIS IS A DELIVERY & TAKE-AWAY RESTAURANT ONLY.' '10TH AVENUE'
 'UPPAL' 'NEW DELHI 110075' 'NIZAMPET' 'ULSOO' 'BANGALORE 560076'
 'PVR PLAZA CINEMA BUILDING CONNAUGHT PLACE' 'GURGAON HARYANA' 'CHROMEPET'
 'KERALA 682024' 'JANAKPURI' 'SECUNDERABAD.'
 'B.B.M.P EAST (KARNATAKA) - 560049' 'TAMBARAM' 'MALLESHWARAM BANGALORE'
 'VADAPALANI.' 'DIST. CENTER NEW DELHI' 'BANGALORE ROAD' 'KOCHI.'
 'THANE MUMBAI' 'KADUBESANAHALLI BANGALORE' 'VASAI WEST'
 'MIG HOUSING SOCIETY' 'HARYANA' 'BORIVALI WEST.' 'GOLF COURSE ROAD'
 'KHAR MUMBAI' 'NEAR JYOTHINIVAS COLLEGE' 'ANNA NAGAR EAST' 'MASAB TANK'
 'VASAI MUMBAI' 'PANATHUR MAIN ROAD' 'NEAR ANDHERI WEST STATION'
 'OPPOSITE TO WESTERN SIDE OF ITPL SERVICE GATE' 'KALKAJI' 'APR CHAMBERS'
 'TAMIL NADU 600102' 'MAHARASHTRA.' 'GANDHINAGAR RD'
 'NEAR ANDHERI EAST STATION' 'WHITEFIELD' 'KERALA 682036'
 'MIRA ROAD THANE MUMBAI' 'INDIA GATE NEW DELHI' 'BANGALORE - 560095'
 'SHOLINGANALLUR. CHENNAI' 'CHENNAI (ABOVE BOMBAY BRASSERIE)' 'CHENNAI 37'
 '682024' 'GIRGAUM' 'GREATER KAILASH 1 (GK 1) NEW DELHI' 'KURLA (W)'
 'MUMBAI 400015' 'THANE WEST THANE WEST' 'KOCHI PANAMPILLY NAGAR' 'MARAD'
 'MAHARASHTRA 400092' 'NEAR SECTOR 34' 'MEHDIPATNAM HYDERABAD'
 'NALLAGANDLA' 'VANDALUR' 'CHENNAI 40' 'SECUNDERBAD' 'MM NAGAR'
 'MUMBAI 400070' 'CHITTETHUKKARA' 'BTM' 'DOMBIVLI' 'SAHAKARA NAGAR'
 'MOHAMMAD ALI ROAD MUMBAI' 'CHENNAI 600040' 'TAVAREKERE MAIN ROAD'
 'COMMUNITY CENTRE' 'KERALA 682022' 'DELH.' 'SECTOR-6 NOIDA 201301'
 'KAARAIKUDI COMPLEX' 'THIRUVANMIYUR (OPP EUROKIDS LB ROAD)'
 'VIRAR MUMBAI' 'TOLICHOWKI' 'HYDERABA' 'KERALA 682305' 'ALWARPET'
 'KERALA 682015' 'MUMBAI VEERA DESAI AREA' 'KERALA 682018' 'KERALA 682028'
 'SURARAM' 'CHENNAI VELACHERY'
 'FORUM SUJANA MALL OPPOSITE TO MALAYSIAN TOWNSHIP' 'OLD HAFEEZPET'
 'YOUSUFGUDA' 'CHENNAI-600008' 'MUMBAI ULHASNAGAR'
 'JOGESHWARI WEST MUMBAI' 'CHEPAUK' 'CHOWPATTY' 'CHURCH STREET'
 'BALAVINAYAGAR NAGAR CHENNAI' 'T-NAGAR CHENNAI' 'RA PURAM'
 'HYDERABAD.STAR HYPERMARKET OPPOSITE SIDE SERVICE ROAD'
 'CHENNAI INJAMBAKKAM' 'MUMBAI MUMBRA' 'HABSIGUDA' 'KURLA MUMBAI'
 'TELANGANA 500027' 'CHENNA' 'KERALA 682021' 'KANDIVALI WEST'
 'CHENNAI-119' 'NOIDA EXTENTION' 'SHIHAB THANGAL ROAD' 'NEW DELHI 110011'
 'MIUMBAI' 'BORIVALI (W) MUMBAI: 400 092.' 'VANASTHALIPURAM' 'KK ROAD'
 'CHENNAI - 600018' 'OPPOSITE ELLORA BUILDING']

In [267]:
#Now, we will replace the NAN values in CITY with NA
cities = list(df_train['CITY'])

for i in range(len(cities)):
    if type(cities[i]) == float:
        cities[i] = 'NOT AVAILABLE'
    cities[i] = cities[i].strip().upper()

In [268]:
#Let's extract the number of unique localities and the list of unique localities
all_localities = list(dummy['LOCALITY'])

for i in range(len(all_localities)):
    if type(all_localities[i]) == float:
        all_localities[i] = 'NOT AVAILABLE'
    all_localities[i] = all_localities[i].strip().upper()
        
print("\n\nNumber of Unique Localities (Including NOT AVAILABLE) : ", len(pd.Series(all_localities).unique()))
print("\n\nUnique Localities:\n", pd.Series(all_localities).unique())

all_localities = list(pd.Series(all_localities).unique())

Number of Unique Localities (Including NOT AVAILABLE) :  1611


Unique Localities:
 ['DOMBIVALI EAST' 'RAMAPURAM' 'SALIGRAMAM' ... 'OFF CARTER ROAD'
 'SRM BACK GATE' 'PERRY CROSS ROAD']

In [269]:
#We will replace the NAN values in LOCALITY with NA
localities = list(df_train['LOCALITY'])

for i in range(len(localities)):
    if type(localities[i]) == float:
        localities[i] = 'NOT AVAILABLE'
    localities[i] = localities[i].strip().upper()

**Now, in Ratings column, we have a lot of missing values. other than the missing values, we have values like NEW for new restaurants and '-' for those whose ratings are not available**

In [270]:
#let's now convert rating into float type and remove the missing values as well
rating = list(df_train['RATING'])

for i in range(len(rating)) :
    try:
       rating[i] = float(rating[i])
    except :
       rating[i] = np.nan

In [271]:
#In the votes column, we have a mixture of integers and characters. Charaters are useless, so we remove them
votes = list(df_train['VOTES'])

for i in range(len(votes)) :
    try:
       votes[i] = int(votes[i].split(" ")[0].strip())
    except :
       pass

**Now, we have stored all the features in the form of lists. We need to store those lists in a new dataframe.**

In [272]:
train_df = {}

train_df['TITLE1'] = T1
train_df['TITLE2'] = T2
train_df['RESTAURANT_ID'] = df_train["RESTAURANT_ID"]
train_df['CUISINE1'] = C1
train_df['CUISINE2'] = C2
train_df['CUISINE3'] = C3
train_df['CUISINE4'] = C4
train_df['CUISINE5'] = C5
train_df['CUISINE6'] = C6
train_df['CUISINE7'] = C7
train_df['CUISINE8'] = C8
train_df['CITY'] = cities
train_df['LOCALITY'] = localities
train_df['RATING'] = rating
train_df['VOTES'] = votes
train_df['COST'] = df_train["COST"]

train_df = pd.DataFrame(train_df)

In [273]:
train_df.head()

,TITLE1,TITLE2,RESTAURANT_ID,CUISINE1,CUISINE2,CUISINE3,CUISINE4,CUISINE5,CUISINE6,CUISINE7,CUISINE8,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,NONE,9438,MALWANI,GOAN,NORTH INDIAN,NONE,NONE,NONE,NONE,NONE,THANE,DOMBIVALI EAST,3.6,49.0,1200
1,CASUAL DINING,BAR,13198,ASIAN,MODERN INDIAN,JAPANESE,NONE,NONE,NONE,NONE,NONE,CHENNAI,RAMAPURAM,4.2,30.0,1500
2,CASUAL DINING,NONE,10915,NORTH INDIAN,CHINESE,BIRYANI,HYDERABADI,NONE,NONE,NONE,NONE,CHENNAI,SALIGRAMAM,3.8,221.0,800
3,QUICK BITES,NONE,6346,TIBETAN,CHINESE,NONE,NONE,NONE,NONE,NONE,NONE,MUMBAI,BANDRA WEST,4.1,24.0,800
4,DESSERT PARLOR,NONE,15387,DESSERTS,NONE,NONE,NONE,NONE,NONE,NONE,NONE,MUMBAI,LOWER PAREL,3.8,165.0,300

### Test Set

**Now, we need to do the same with test set as well**

In [274]:
#Copying all the codes for training set to test set


# TITLE
titles = list(df_test['TITLE'])

# Since Maximum number of titles in a cell is 2 will will split title in to 2 columns
T1 = []
T2 = []

for i in titles:
    T1.append(i.split(',')[0].strip().upper())
    try :
         T2.append(i.split(',')[1].strip().upper())
    except :
         T2.append('NONE')


#Cleaning CUISINES 

cuisines = list(df_test['CUISINES'])
   
# Since Maximum number of cuisines in a cell is 8 will will split title in to 8 columns
   
C1 = []
C2 = []
C3 = []
C4 = []
C5 = []
C6 = []
C7 = []
C8 = []


for i in cuisines:
        try :
            C1.append(i.split(',')[0].strip().upper())
        except :
            C1.append('NONE')
        try :
            C2.append(i.split(',')[1].strip().upper())
        except :
            C2.append('NONE')
        try :
            C3.append(i.split(',')[2].strip().upper())
        except :
            C3.append('NONE')
        try :
            C4.append(i.split(',')[3].strip().upper())
        except :
            C4.append('NONE')
        try :
            C5.append(i.split(',')[4].strip().upper())
        except :
            C5.append('NONE')
        try :
            C6.append(i.split(',')[5].strip().upper())
        except :
            C6.append('NONE')
        try :
            C7.append(i.split(',')[6].strip().upper())
        except :
            C7.append('NONE')
        try :
            C8.append(i.split(',')[7].strip().upper())
        except :
            C8.append('NONE')


# Cleaning CITY

cities = list(df_test['CITY'])

for i in range(len(cities)):
    if type(cities[i]) == float:
        cities[i] = 'NOT AVAILABLE'
    cities[i] = cities[i].strip().upper()
        

# Cleaning LOCALITY

localities = list(df_test['LOCALITY'])

for i in range(len(localities)):
    if type(localities[i]) == float:
        localities[i] = 'NOT AVAILABLE'
    localities[i] = localities[i].strip().upper()   
    

#Cleaning Rating

rating = list(df_test['RATING'])

for i in range(len(rating)) :
    try:
       rating[i] = float(rating[i])
    except :
       rating[i] = np.nan


# Votes
       
votes = list(df_test['VOTES'])

for i in range(len(votes)) :
    try:
       votes[i] = int(votes[i].split(" ")[0].strip())
    except :
       pass    
    

    
test_df = {}

test_df['TITLE1'] = T1
test_df['TITLE2'] = T2
test_df['RESTAURANT_ID'] = df_test["RESTAURANT_ID"]
test_df['CUISINE1'] = C1
test_df['CUISINE2'] = C2
test_df['CUISINE3'] = C3
test_df['CUISINE4'] = C4
test_df['CUISINE5'] = C5
test_df['CUISINE6'] = C6
test_df['CUISINE7'] = C7
test_df['CUISINE8'] = C8
test_df['CITY'] = cities
test_df['LOCALITY'] = localities
test_df['RATING'] = rating
test_df['VOTES'] = votes 


test_df = pd.DataFrame(test_df)

In [275]:
test_df.head()

,TITLE1,TITLE2,RESTAURANT_ID,CUISINE1,CUISINE2,CUISINE3,CUISINE4,CUISINE5,CUISINE6,CUISINE7,CUISINE8,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,NONE,4085,NORTH INDIAN,CHINESE,MUGHLAI,KEBAB,NONE,NONE,NONE,NONE,NOIDA,SECTOR 18,4.3,564.0
1,QUICK BITES,NONE,12680,SOUTH INDIAN,FAST FOOD,PIZZA,NORTH INDIAN,NONE,NONE,NONE,NONE,MUMBAI,GRANT ROAD,4.2,61.0
2,CASUAL DINING,NONE,1411,NORTH INDIAN,SEAFOOD,BIRYANI,CHINESE,NONE,NONE,NONE,NONE,MUMBAI,MARINE LINES,3.8,350.0
3,NONE,NONE,204,BIRYANI,NONE,NONE,NONE,NONE,NONE,NONE,NONE,FARIDABAD,NIT,3.8,1445.0
4,QUICK BITES,NONE,13453,SOUTH INDIAN,KERALA,NONE,NONE,NONE,NONE,NONE,NONE,KOCHI,KALOOR,3.6,23.0

In [276]:
#Let's see how many missing values are we left with
train_df.isnull().sum()

TITLE1              0
TITLE2              0
RESTAURANT_ID       0
CUISINE1            0
CUISINE2            0
CUISINE3            0
CUISINE4            0
CUISINE5            0
CUISINE6            0
CUISINE7            0
CUISINE8            0
CITY                0
LOCALITY            0
RATING           1204
VOTES            1204
COST                0
dtype: int64

In [277]:
test_df.isnull().sum()

TITLE1             0
TITLE2             0
RESTAURANT_ID      0
CUISINE1           0
CUISINE2           0
CUISINE3           0
CUISINE4           0
CUISINE5           0
CUISINE6           0
CUISINE7           0
CUISINE8           0
CITY               0
LOCALITY           0
RATING           402
VOTES            402
dtype: int64

In [278]:
#let us replace these values with 0
test_df.fillna(0, inplace = True)
train_df.fillna(0, inplace = True)

In [279]:
from sklearn.preprocessing import LabelEncoder
#now,we have all the data in titles, cuisine, city and locality in categorical format. W need to use Label Encoding here
from sklearn.preprocessing import LabelEncoder
le_titles = LabelEncoder()
le_cuisines = LabelEncoder()
le_city = LabelEncoder()
le_locality = LabelEncoder()
le_titles.fit(all_titles)
le_cuisines.fit(all_cuisines)
le_city.fit(all_cities)
le_locality.fit(all_localities)

LabelEncoder()

In [280]:
#Applying the encoding on training and testing sets
train_df['TITLE1'] = le_titles.transform(train_df['TITLE1'])
train_df['TITLE2'] = le_titles.transform(train_df['TITLE2'])
train_df['CUISINE1'] = le_cuisines.transform(train_df['CUISINE1'])
train_df['CUISINE2'] = le_cuisines.transform(train_df['CUISINE2'])
train_df['CUISINE3'] = le_cuisines.transform(train_df['CUISINE3'])
train_df['CUISINE4'] = le_cuisines.transform(train_df['CUISINE4'])
train_df['CUISINE5'] = le_cuisines.transform(train_df['CUISINE5'])
train_df['CUISINE6'] = le_cuisines.transform(train_df['CUISINE6'])
train_df['CUISINE7'] = le_cuisines.transform(train_df['CUISINE7'])
train_df['CUISINE8'] = le_cuisines.transform(train_df['CUISINE8'])
train_df['CITY'] = le_city.transform(train_df['CITY'])
train_df['LOCALITY'] = le_locality.transform(train_df['LOCALITY'])

In [281]:
test_df['TITLE1'] = le_titles.transform(test_df['TITLE1'])
test_df['TITLE2'] = le_titles.transform(test_df['TITLE2'])
test_df['CUISINE1'] = le_cuisines.transform(test_df['CUISINE1'])
test_df['CUISINE2'] = le_cuisines.transform(test_df['CUISINE2'])
test_df['CUISINE3'] = le_cuisines.transform(test_df['CUISINE3'])
test_df['CUISINE4'] = le_cuisines.transform(test_df['CUISINE4'])
test_df['CUISINE5'] = le_cuisines.transform(test_df['CUISINE5'])
test_df['CUISINE6'] = le_cuisines.transform(test_df['CUISINE6'])
test_df['CUISINE7'] = le_cuisines.transform(test_df['CUISINE7'])
test_df['CUISINE8'] = le_cuisines.transform(test_df['CUISINE8'])

In [282]:
train_df.head()

,TITLE1,TITLE2,RESTAURANT_ID,CUISINE1,CUISINE2,CUISINE3,CUISINE4,CUISINE5,CUISINE6,CUISINE7,CUISINE8,CITY,LOCALITY,RATING,VOTES,COST
0,5,20,9438,74,47,92,90,90,90,90,90,408,320,3.6,49.0,1200
1,5,1,13198,7,82,62,90,90,90,90,90,75,1204,4.2,30.0,1500
2,5,20,10915,92,29,17,55,90,90,90,90,75,1261,3.8,221.0,800
3,23,20,6346,126,29,90,90,90,90,90,90,280,149,4.1,24.0,800
4,9,20,15387,34,90,90,90,90,90,90,90,280,700,3.8,165.0,300

In [283]:
test_df.head()

,TITLE1,TITLE2,RESTAURANT_ID,CUISINE1,CUISINE2,CUISINE3,CUISINE4,CUISINE5,CUISINE6,CUISINE7,CUISINE8,CITY,LOCALITY,RATING,VOTES
0,5,20,4085,92,29,86,66,90,90,90,90,NOIDA,SECTOR 18,4.3,564.0
1,23,20,12680,116,41,101,92,90,90,90,90,MUMBAI,GRANT ROAD,4.2,61.0
2,5,20,1411,92,112,17,29,90,90,90,90,MUMBAI,MARINE LINES,3.8,350.0
3,20,20,204,17,90,90,90,90,90,90,90,FARIDABAD,NIT,3.8,1445.0
4,23,20,13453,116,67,90,90,90,90,90,90,KOCHI,KALOOR,3.6,23.0

In [284]:
#Dropping Restaurant id as it is useless for our modelling
train_df.drop(columns=['RESTAURANT_ID'], axis=1,inplace=True)
test_df.drop(columns=['RESTAURANT_ID'], axis=1,inplace=True)

### Splitting dataset into independent and dependent variables

In [285]:
x=train_df.drop(columns=['COST'],axis=1)
y=train_df['COST']

In [286]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,random_state=42,test_size=0.20)

In [287]:
#Checking the shape
print(x_train.shape,'\t',x_test.shape)

(10152, 14) 	 (2538, 14)

In [288]:
#Importing our models Library
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

#Importing Errors Metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#Importing Boosting models
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [289]:
#Using algorithms via for loop
import warnings
warnings.filterwarnings('ignore')

#RMSE Scores (Train & Test)
model=[LinearRegression(),DecisionTreeRegressor(),KNeighborsRegressor(),SVR(), Lasso(), Ridge(), ElasticNet(), RandomForestRegressor(), AdaBoostRegressor(), GradientBoostingRegressor()]
for m in model:
    m.fit(x_train,y_train)
    print('train_score of',m,'is',m.score(x_train,y_train))
    pred_train=m.predict(x_train)
    pred_test=m.predict(x_test)
    print('Error_train:')
    print('Mean absolute error_train: ',mean_absolute_error(y_train,pred_train))
    print('Mean squared error_train: ',mean_squared_error(y_train,pred_train))
    print('Root mean squared error_train: ',np.sqrt(mean_squared_error(y_train,pred_train)))
    print('r2 score_train: ',r2_score(y_train,pred_train))
    print('***********************************************************************')
    print('\n')
    print('test_score of',m,'is',m.score(x_test,y_test))
    print('Error_test:')
    print('Mean absolute error_test: ',mean_absolute_error(y_test,pred_test))
    print('Mean squared error_test: ',mean_squared_error(y_test,pred_test))
    print('Root mean squared error_test: ',np.sqrt(mean_squared_error(y_test,pred_test)))
    print('r2 score_test: ',r2_score(y_test,pred_test))
    print('***********************************************************************')
    print('\n')

train_score of LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False) is 0.19570665905598983
Error_train:
Mean absolute error_train:  317.71669393135517
Mean squared error_train:  322789.2418364376
Root mean squared error_train:  568.1454407424543
r2 score_train:  0.19570665905598983
***********************************************************************


test_score of LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False) is 0.20841229182584076
Error_test:
Mean absolute error_test:  306.9734112458632
Mean squared error_test:  284892.3151408645
Root mean squared error_test:  533.7530469616679
r2 score_test:  0.20841229182584076
***********************************************************************


train_score of DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best') is 0.999813503073076
Error_train:
Mean absolute error_train:  0.6121946414499606
Mean squared error_train:  74.84732072498029
Root mean squared error_train:  8.65143460502247
r2 score_train:  0.999813503073076
***********************************************************************


test_score of DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best') is 0.3606095220216933
Error_test:
Mean absolute error_test:  250.5744680851064
Mean squared error_test:  230116.55141843972
Root mean squared error_test:  479.70465019472107
r2 score_test:  0.3606095220216933
***********************************************************************


train_score of KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform') is 0.38446737949153575
Error_train:
Mean absolute error_train:  294.3599290780142
Mean squared error_train:  247033.3866824271
Root mean squared error_train:  497.02453328022665
r2 score_train:  0.38446737949153575
***********************************************************************


test_score of KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform') is 0.03925518640554759
Error_test:
Mean absolute error_test:  342.7276595744681
Mean squared error_test:  345771.93579196214
Root mean squared error_test:  588.0237544453133
r2 score_test:  0.03925518640554759
***********************************************************************


train_score of SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) is 0.034096409092394864
Error_train:
Mean absolute error_train:  326.62890772916234
Mean squared error_train:  387648.72456884215
Root mean squared error_train:  622.6144268878148
r2 score_train:  0.034096409092394864
***********************************************************************


test_score of SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) is 0.04323082003472167
Error_test:
Mean absolute error_test:  315.3162317423504
Mean squared error_test:  344341.10575623595
Root mean squared error_test:  586.8058501380469
r2 score_test:  0.04323082003472167
***********************************************************************


train_score of Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False) is 0.1957045165504162
Error_train:
Mean absolute error_train:  317.567262090082
Mean squared error_train:  322790.10169404745
Root mean squared error_train:  568.1461974650956
r2 score_train:  0.1957045165504162
***********************************************************************


test_score of Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False) is 0.2084244044442306
Error_test:
Mean absolute error_test:  306.8209866748112
Mean squared error_test:  284887.95581105194
Root mean squared error_test:  533.7489632880348
r2 score_test:  0.2084244044442306
***********************************************************************


train_score of Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001) is 0.19570665894163042
Error_train:
Mean absolute error_train:  317.7155202009341
Mean squared error_train:  322789.2418823338
Root mean squared error_train:  568.1454407828455
r2 score_train:  0.19570665894163042
***********************************************************************


test_score of Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001) is 0.2084124116418824
Error_test:
Mean absolute error_test:  306.9721520694337
Mean squared error_test:  284892.27201908646
Root mean squared error_test:  533.7530065667888
r2 score_test:  0.2084124116418824
***********************************************************************


train_score of ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False) is 0.19413581828669657
Error_train:
Mean absolute error_train:  314.34441665872566
Mean squared error_train:  323419.6716499815
Root mean squared error_train:  568.699983866697
r2 score_train:  0.19413581828669657
***********************************************************************


test_score of ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False) is 0.2071638766092344
Error_test:
Mean absolute error_test:  303.3783357566818
Mean squared error_test:  285341.61961798486
Root mean squared error_test:  534.1737728660822
r2 score_test:  0.2071638766092344
***********************************************************************


train_score of RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False) is 0.9526548187482543
Error_train:
Mean absolute error_train:  72.4999936953424
Mean squared error_train:  19001.17082024132
Root mean squared error_train:  137.84473446686792
r2 score_train:  0.9526548187482543
***********************************************************************


test_score of RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False) is 0.7347447055427676
Error_test:
Mean absolute error_test:  184.74322900197603
Mean squared error_test:  95465.3466203981
Root mean squared error_test:  308.9746698685802
r2 score_test:  0.7347447055427676
***********************************************************************


train_score of AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None) is -0.3591791912984532
Error_train:
Mean absolute error_train:  607.876615015566
Mean squared error_train:  545483.0947178408
Root mean squared error_train:  738.568273565715
r2 score_train:  -0.3591791912984532
***********************************************************************


test_score of AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None) is -0.5400508056463509
Error_test:
Mean absolute error_test:  613.9460325515133
Mean squared error_test:  554264.0883941218
Root mean squared error_test:  744.4891459209609
r2 score_test:  -0.5400508056463509
***********************************************************************


train_score of GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False) is 0.7144579659069149
Error_train:
Mean absolute error_train:  193.95805645465086
Mean squared error_train:  114597.3639283897
Root mean squared error_train:  338.52232412115706
r2 score_train:  0.7144579659069149
***********************************************************************


test_score of GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False) is 0.715227920789367
Error_test:
Mean absolute error_test:  194.07239530753262
Mean squared error_test:  102489.43496220306
Root mean squared error_test:  320.13971162947445
r2 score_test:  0.715227920789367
***********************************************************************

In [290]:
#Cross validate the models Code_r2 as scoring parameter:
from sklearn.model_selection import cross_val_score
model=[LinearRegression(),DecisionTreeRegressor(),KNeighborsRegressor(),SVR(), Lasso(), Ridge(), ElasticNet(), RandomForestRegressor(), AdaBoostRegressor(), GradientBoostingRegressor()]
for m in model:
    train_data_score=cross_val_score(m,x_train,y_train,cv=7,scoring='r2')
    test_data_score=cross_val_score(m,x_test,y_test,cv=7,scoring='r2')
    print('train_data_score of',m,'is: ')
    print('Score: ',train_data_score)
    print('Mean Score:',train_data_score.mean())
    print('Standard Deviation',train_data_score.std())
    print('**********************************************************')
    print('test_data_score of',m,'is: ')
    print('Score: ',test_data_score)
    print('Mean Score:',test_data_score.mean())
    print('Standard Deviation',test_data_score.std())
    print('**********************************************************')
    print('\n')

train_data_score of LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False) is:
Score:  [0.25820359 0.20106911 0.19297981 0.15873003 0.1291967  0.18626496
 0.21584346]
Mean Score: 0.19175538042123946
Standard Deviation 0.038019266332685
**********************************************************
test_data_score of LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False) is:
Score:  [0.21813804 0.1176986  0.2579185  0.22037297 0.23868735 0.23900126
 0.15323166]
Mean Score: 0.20643548215682128
Standard Deviation 0.04749029967798254
**********************************************************


train_data_score of DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best') is:
Score:  [0.3835152  0.25737    0.4988295  0.37836432 0.52107952 0.45218115
 0.53999873]
Mean Score: 0.4330483450422085
Standard Deviation 0.09272682895732756
**********************************************************
test_data_score of DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best') is:
Score:  [0.45793495 0.38867388 0.44342233 0.44563368 0.56298797 0.4287179
 0.35094015]
Mean Score: 0.43975869443044996
Standard Deviation 0.06116027823637074
**********************************************************


train_data_score of KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform') is:
Score:  [0.02176171 0.0452211  0.06168489 0.08132778 0.11013487 0.0595573
 0.01357416]
Mean Score: 0.056180259566064095
Standard Deviation 0.030949781916164754
**********************************************************
test_data_score of KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform') is:
Score:  [-0.01437527  0.0006954  -0.1282387   0.04043779  0.03407743 -0.02957031
 -0.047549  ]
Mean Score: -0.020646092360853446
Standard Deviation 0.052915383941302796
**********************************************************


train_data_score of SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) is:
Score:  [0.04954407 0.02908548 0.02958206 0.02156661 0.03712929 0.02498888
 0.01055308]
Mean Score: 0.028921351627133194
Standard Deviation 0.011339438410904679
**********************************************************
test_data_score of SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) is:
Score:  [-0.04832702 -0.03706136 -0.01407682 -0.05606991 -0.05090916 -0.02353698
 -0.0461214 ]
Mean Score: -0.039443234793325246
Standard Deviation 0.014310688860813702
**********************************************************


train_data_score of Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False) is:
Score:  [0.25834589 0.20106734 0.19305886 0.15874466 0.12884269 0.18632498
 0.21584108]
Mean Score: 0.19174649979760733
Standard Deviation 0.03813515772374381
**********************************************************
test_data_score of Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False) is:
Score:  [0.21808667 0.11771075 0.25816776 0.2203135  0.23889663 0.23890154
 0.15304684]
Mean Score: 0.20644624164696154
Standard Deviation 0.04756164980146837
**********************************************************


train_data_score of Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001) is:
Score:  [0.25820446 0.20106895 0.19298005 0.15872995 0.12919427 0.18626557
 0.21584362]
Mean Score: 0.1917552680366832
Standard Deviation 0.03802006379046454
**********************************************************
test_data_score of Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001) is:
Score:  [0.21813542 0.11769626 0.25792685 0.22037389 0.23869454 0.23899785
 0.15322765]
Mean Score: 0.20643606718505053
Standard Deviation 0.0474931670454792
**********************************************************


train_data_score of ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False) is:
Score:  [0.25882083 0.19927258 0.19239942 0.1573304  0.11971229 0.1865307
 0.21449316]
Mean Score: 0.18979419800227618
Standard Deviation 0.04043930939256362
**********************************************************
test_data_score of ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False) is:
Score:  [0.21429694 0.11451696 0.26227877 0.2197315  0.24221701 0.23485312
 0.14861411]
Mean Score: 0.20521548524749425
Standard Deviation 0.04960824598627623
**********************************************************


train_data_score of RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False) is:
Score:  [0.73022788 0.68706698 0.69640377 0.61789873 0.67520459 0.67326667
 0.75831382]
Mean Score: 0.6911974923928152
Standard Deviation 0.04144210038827827
**********************************************************
test_data_score of RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False) is:
Score:  [0.69219461 0.7435985  0.65839832 0.65003253 0.71039316 0.69072279
 0.72622171]
Mean Score: 0.695937372070255
Standard Deviation 0.03152171592339044
**********************************************************


train_data_score of AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None) is:
Score:  [-1.08396306 -0.27718725 -0.17505302 -0.59564515 -0.34835971 -0.79371175
 -0.41873388]
Mean Score: -0.5275219740960974
Standard Deviation 0.2966383674403527
**********************************************************
test_data_score of AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None) is:
Score:  [ 0.13410791  0.0159073  -0.31771906 -0.41028537 -0.55068423  0.49123654
  0.34675971]
Mean Score: -0.041525314084198794
Standard Deviation 0.366500002420224
**********************************************************


train_data_score of GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False) is:
Score:  [0.74514738 0.70637145 0.6867679  0.57535318 0.67214761 0.70092847
 0.7391288 ]
Mean Score: 0.6894063971917995
Standard Deviation 0.05252606261592726
**********************************************************
test_data_score of GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False) is:
Score:  [0.71583739 0.72902834 0.64272271 0.59016879 0.62985132 0.64720975
 0.74776929]
Mean Score: 0.6717982260501651
Standard Deviation 0.054588358363788426
**********************************************************

**We have achieved an accuracy of almost 69% using Random Forest Regressor. Hence, we will move forward with that model**

In [294]:
#Using GridsearchCV to find the best parameters
from sklearn.model_selection import RandomizedSearchCV
parameters={'n_estimators':[400,500,600,700], 'max_depth':[4,5,6,15,20]}
RFC=RandomForestRegressor()
clf=RandomizedSearchCV(RFC,parameters)
clf.fit(x,y)
print(clf.best_params_)

KeyboardInterrupt:

In [ ]:
#using Random Forest Regressor with its best parameters
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=)
rf.fit(x_train,y_train)
print('Score',rf.score(x_train,y_train))
y_pred=rf.predict(x_test)
print('\n')
print('Mean absolute error:', mean_absolute_error(y_test,y_pred))
print('Mean squared error:', mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test,y_pred)))
print('\n')
print("r2_score:"r2_score(y_test,y_pred))
print('\n')